.main__background img {
	width: 945px;
	height: 250px;
}

.main__photo_description_profile {
	display: flex;
}
.main__photo_description_profile img {
	width: 250px;
	height: 200px;
	/* margin: 5px; */
}

.main__description_profile {
	margin: 10px;
}